<h1 class="text-center">
  <%= "Welcome, #{@user.name}!"%>
</h1>
<div class='container vh-100 dashboard'>
  <div class="bookings">
    <h2>Your bookings</h2>
    <% @bookings.each do |booking| %>
    <li class='dashboard-list'>
      <%= link_to booking.post.title, booking_path(booking) %>
      <div>
        <%= link_to new_booking_review_path(booking) do %>
        <i class="far fa-sticky-note"></i>
        <% end %>
        <%= link_to edit_booking_path(booking) do %>
        <i class="far fa-edit"></i>
        <% end %>
        <%= link_to  booking_path(booking),
            method: :delete,
            data: { confirm: "Do you want to delete #{booking.post.title}?" } do %>
        <i class="far fa-trash-alt"></i>
        <% end %>
      </div>
    </li>
    <% end %>
  </div>
  <div class="posts">
    <h2>Your posts</h2>
    <% @posts.each do |post|  %>
    <li class='dashboard-list'>
      <%= link_to post.title, post_path(post) %>
      <div class>
        <%= link_to edit_post_path(post) do %>
        <i class="far fa-edit"></i>
        <% end %>
        <%= link_to  post_path(post),
              method: :delete,
              data: { confirm: "Do you want to delete #{post.title}?" } do %>
        <i class="far fa-trash-alt"></i>
        <% end %>
      </div>
    </li>
    <% end %>
  </div>
</div>
<p class="alert">
  <%= "You are signed in as #{@user.email}" %>
</p>
