<h2><%= @user.email %></h2>
<h2>Bookings</h2>
<ul><% @bookings.each do |booking| %>
    <li><%= booking.post.title %></li>
    <% end %>
</ul>
<h2>Posts</h2>

  <% @posts.each do |post|  %>
  <li><%= link_to post.title, post_path(post) %> <%= link_to "Edit", edit_post_path(post) %> <%= link_to "Delete", post_path(post) , method: :delete  %></li>
  <% end %>


