  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://hpmedia.bloomsbury.com/rep/g/page-background-shell%20-%202.png);">
    <div class="container justify-content-center v-100">
      <a href="https://fontmeme.com/harry-potter-font/"><img src="https://fontmeme.com/permalink/190827/8c1e344d168f13ae872c3ce44d9b2750.png"class="img-responsive" alt="Responsive image" style="padding-top: 120px";></a>
    </div>
  </div>

  <div class="page-content">
    <h1 class = "text-center mt-5">Find your magic today</h1>
    <div class="container-fluid">
      <div class="row pt-2">
        <% @posts.each do |post| %>
        <div class="col-xs-12 col-sm-6 col-md-3 mt-3">
          <%= link_to post_path(post) do %>
          <div class="card h-100">
              <img class="card-img-top" src=<%= post.photo %>>
            <div class="card-body d-flex justify-content-between">
              <div>
                <h4 class="card-title"><%= post.title %></h4>
                <p class="card-subtitle"><%= post.description%></p>
              </div>
              <h5 class="card-title">$<%= post.price%>/day</h5>
            </div>
          </div>
        </div>
        <% end %>
        <% end %>
        </div>
      </div>
  </div>
