x<div class="container mt-5 h-100">
  <div class="row w-100 justify-content-center">
    <%= image_tag "border.jpg", class: "border-img" %>
    <div class="text-input">
    <div class="col-xs-4">
      <h2 class="text-white">Add a new post</h2>
      <%=simple_form_for (@post) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <div class="form-inputs">
        <%= f.input :title, label: 'Title', placeholder: "Wonderful wand" %>
      </div>
      <div class="form-inputs">
        <%= f.input :description, label: 'Description', placeholder: "Use it to do wonderful things" %>
      </div>
      <div class="form-inputs">
        <%= f.input :price, label: 'Price in SGD', placeholder: "100" %>
      </div>
      <div class="form-inputs">
        <%= f.association :category, collection: Category.all,label_method: :category, value_method: :id %>
      </div>
      <div class="form-actions">
        <%= f.button :submit,  class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>
